body, html {
    height: 100%;
    margin: 0;
    font-family: Calibri, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("desk.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  .navitems {
    font-size: 13px;
    list-style-type: none;
    padding-top: 25px;
    padding-right: 40px;
}

.navitems a {
    font-weight: 600;
    color: rgb(228, 228, 228);
    text-decoration: none;
}

.navitems a:hover {
    color: gray;
}
.featurette-divider {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 33.5%;
  margin-right: 33.5%;
} 

.featurette-heading {
  font-weight: bold;
  line-height: 1;
  letter-spacing: -.05rem;
}
.featurette-heading2 {
    color: #17a2b8;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -.05rem;
  }

.articledescription {
    font-size: 23px;
    color:rgb(78, 78, 78);
    margin-bottom: 5px;
    line-height: 1;
}
.articledescription2 {
    font-size: 23px;
    color: #17a2b8;
    margin-bottom: 5px;
    line-height: 1;
}

.listmargin {
  margin-right: 25%;
}